@import '../styles/variables';

.containerCart{
    @include flex-column-center;
    @include box-shadow;
    margin: auto;
    @include margin__Espaciado(5em,2em);
    width: 90%;
    padding: 2em;
    &__title{
        @include center-bold;
    }
    &__contenedorItem{
        @include flex-row-wrap-center;
        width: 100%;
    }
    &__item{
        @include flex-column-center;
        @include box-shadow;
        width: 15em;
        padding: 1em;
        margin: 1em 2em 2em 1em;
        p{
            font-weight: bold;
            text-align: left;
            width: 100%;
        }
    }
    &__total{
        @include center-bold;
    }
    &__btnTrash{
        @include btn-secundarioHover;
    }
}
.itemDetail__btn{
    @include btn-principalHover;
}
.container__emptyCart{
    @include flex-column-center;
    @include box-shadow;
    margin: auto;
    @include margin__Espaciado(3em,2em);
    width: 90%;
    padding: 2em;
    max-width: 520px;
    &__title{
        @include center-bold;
    }
    &__btn{
        @include btn-secundarioHover;
    }
}