@import '../styles/variables';

.itemDetail{
    @include flex-column-center;
    @include box-shadow-10pt;
    width: 80%;
    padding: 2em;
}
.itemDetail__containerRow{
    @include flex-row-wrap-center;
    @include margin__Espaciado(2em,1em);
    justify-content: space-evenly;
    width: 100%;
}
.itemDetail__container{
    @include flex-column-center;
    width: 45%;
    margin-right: 2em;
    padding: 1em;
}
.itemDetail__img{
    @include margin__Espaciado(1em,1em);
    width: 80%;
}
.itemDetail__price{
    @include margin__Espaciado(1em,1em);
    font-weight: bold;
}
.itemDetail__description{
    @include margin__Espaciado(1em,1em);
}
.itemDetail__features{
    @include margin__Espaciado(1em,1em);
}
.itemDetail__title{
    font-weight: bold;
}
.itemDetail__btn{
    @include btn-principalHover;
}