@import '../styles/variables';

.sectionItemDetailContainer{
    @include flex-column-center;
    @include margin__Espaciado(2em,2em);
    width: 100%;
    &__containerTitle{
        @include flex-center;
        margin-bottom: 2em;
        width: 90%;
        &__title{
            @include center-bold;
            color: $color-principal;
        }
    }
    &__containerDetail{
        width: 100%;
        height: 100%;
        @include flex-column-center;
        justify-content: space-evenly;
        .spinner{
            margin-top: 5em;
            width: 100px;
            height: 100px;
        }
    }
}