@import '../styles/variables';

.container__orderList{
    @include flex-column-center;
    max-width: 700px;
    @include box-shadow-10pt;
    padding: 1.5em;
    hr{
        color: $color-principal;
        width: 100%;
    }
    h4{
        margin-bottom: 1em;
    }
}