.containerCartWidget{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 50px;
    border-radius: 10pt;
    box-shadow: 2px 2px 20px #2A4536;
    text-decoration: none;
    &__cartWidget{
        text-decoration: none;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 30px;
        color: #2A4536;
        width: 30px;
        height: 30px;
        transition: all .5s ease-in-out;
    }
    &:hover{
        box-shadow: 3.5px 3.5px 20px #3F2D39;
        .containerCartWidget__cartWidget{
            color: #3F2D39;
        }
    }
}
.containerCartWidget__span{
    color: #2A4536;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    height: 100%;
    width: 8px;
}
.containerCartWidget__span-disable{
    display: none;
}