@import '../styles/variables';

.sectionItemList{
    @include flex-column-center;
    width: 100%;
    margin-top: 2em;
    &__containerTitle{
        width: 90%;
        @include flex-center;
        &__title{
            width: 60%;
            color: $color-principal;
            text-align: center;
        }
    }
    &__containerItem{
        width: 100%;
        height: 100%;
        @include flex-column-center;
        justify-content: space-evenly;
        .spinner{
            margin-top: 5em;
            width: 100px;
            height: 100px;
        }
    }
    &__categorys{
        @include flex-row-wrap-center;
        justify-content: space-evenly;
        @include margin__Espaciado(3em,3em);
        width: 70%;
        &__category{
            text-decoration: none;
            color: $color-principal;
            padding: 1em;
            min-width: 150px;
            text-align: center;
            border-radius: 2pt;
            border: $color-principal 3px solid;
            transition: all 1s ease-in-out;
            margin: .5em .5em .5em .5em;
            &:hover{
                border: $color-background 3px solid;
                color: $color-secundario;
                background-color: $color-principal;
            }
        }
    }
}