@import '../styles/variables';

.sectionNosotros{
    @include flex-column-center;
    width: 100%;
    &__title{
        @include center-bold;
        @include flex-center;
        margin-top: 1em;
        color: $color-principal;
        span{
            color: $color-celeste;
        }
        &__img{
            max-width: 30px;
            width: calc(3vw + 3em);
            margin-right: .5em;
        }
    }
    &__subtitle{
        @include center-bold;
        margin-top: 1em;
    }
    &__containerParagraph{
        width: 90%;
        max-width: 750px;
        @include flex-column-center;
        @include box-shadow-10pt;
        @include margin__Espaciado(2em,2em);
        padding: 2em;
        background-color: #ffeec8;
        &__paragraph{
            width: 100%;
            @include flex-center;
            text-align: center;
        }
    }
}