@import '../styles/variables';

.item{
    @include box-shadow-10pt;
    @include margin__Espaciado(2em,2em);
    width: 20rem;
    height: 35rem;
    padding: 1em;
    margin-right: 1em;
    background-color: none;
    //content
    @include flex-column-center;
    justify-content: space-evenly;
    overflow: hidden;
    img{
        width: 12em;
        height: 12em;
        background-color: $color-principal;
        @include margin__Espaciado(.5em,.5em);
    }
    &__title{
        text-align: center;
    }
    &__price{
        text-align: center;
        font-weight: bold;
        @include margin__Espaciado(.5em,.5em);
    }
    &__btn{
        background-color: $color-principal;
        border: $color-principal 2px solid;
        transition: .5s all ease-in-out;
        &:hover{
            background-color: $color-hover;
            border: $color-hover 2px solid;
        }
    }
}