.navbar{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(183, 159, 238);
    width: 100%;
    &__container__logo{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 15%;
        max-width: 150px;
        &__img{
            width: calc(3vw + 3em);
        }
    }
    &__container__link{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-evenly;
        align-items: center;
        text-decoration: none;
        width: 60%;
        &__ul{
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: space-between;
            align-items: center;
            text-decoration: none;
            width: 60%;
            &__li{
                display: flex;
                justify-content: center;
                align-items: center;
                width: 20%;
                max-width: 150px;
                font-weight: bold;
                &:hover{
                    a{
                        color: black;
                    }
                }
                &__a{
                    text-decoration: none;
                    text-align: center;
                    color: aliceblue;
                }
            }
        }
    }
}
@media screen and (max-width: 991px){
    .navbar{
        &__container__link{
            width: 70%;
            &__ul{
                width: 80%;
            }
        }
    }
}