.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: none;
  width: 100%;
}

.navbar__container__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 10%;
  max-width: 150px;
}

.navbar__container__logo__img {
  width: calc(3vw + 3em);
}

.navbar__container__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  width: 60%;
}

.navbar__container__link__ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  width: 80%;
}

.navbar__container__link__ul__li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 20%;
  max-width: 150px;
  font-weight: bold;
}

.navbar__container__link__ul__li:hover a {
  color: #3F2D39;
}

.navbar__container__link__ul__li__a {
  text-decoration: none;
  text-align: center;
  color: #2A4536;
}

.navbar__container__link__ul__liCategorys {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 40%;
  min-width: 200px;
}

.navbar__container__link__ul__liCategorys__category {
  text-decoration: none;
  text-align: center;
  color: #2A4536;
}

.navbar__container__link__ul__liCategorys__category:hover {
  color: #3F2D39;
  font-weight: bold;
}

@media screen and (max-width: 991px) {
  .navbar__container__link {
    width: 70%;
  }
  .navbar__container__link__ul {
    width: 80%;
  }
}

@media screen and (max-width: 700px) {
  .navbar__container__link__ul {
    width: 90%;
  }
}

@media screen and (max-width: 600px) {
  .navbar__container__link__ul {
    width: 80%;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .navbar__container__link__ul__li {
    margin-right: 1em;
  }
  .navbar__container__link__ul__liCategorys {
    display: none;
  }
}
/*# sourceMappingURL=Navbar.css.map */