.navbar{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: none;
    width: 100%;
    &__container__logo{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 10%;
        max-width: 150px;
        &__img{
            width: calc(3vw + 3em);
        }
    }
    &__container__link{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-evenly;
        align-items: center;
        text-decoration: none;
        width: 60%;
        &__ul{
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: space-between;
            align-items: center;
            text-decoration: none;
            width: 80%;
            &__li{
                display: flex;
                justify-content: center;
                align-items: center;
                width: 20%;
                max-width: 150px;
                font-weight: bold;
                &:hover{
                    a{
                        color: #3F2D39;
                    }
                }
                &__a{
                    text-decoration: none;
                    text-align: center;
                    color: #2A4536;
                }
            }
            &__liCategorys{
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
                justify-content: space-evenly;
                align-items: center;
                width: 40%;
                min-width: 200px;
                &__category{
                    text-decoration: none;
                    text-align: center;
                    color: #2A4536;
                    &:hover{
                        color: #3F2D39;
                        font-weight: bold;
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 991px){
    .navbar{
        &__container__link{
            width: 70%;
            &__ul{
                width: 80%;
            }
        }
    }
}
@media screen and (max-width: 700px){
    .navbar{
        &__container__link{
            &__ul{
                width: 90%;
            }
        }
    }
}
@media screen and (max-width: 600px){
    .navbar{
        &__container__link{
            &__ul{
                width: 80%;
                justify-content: space-evenly;
                &__li{
                    margin-right: 1em;
                }
                &__liCategorys{
                    display: none;
                }
            }
        }
    }
}