@import '../styles/variables';

.container__itemCount{
    @include flex-column-center;
    justify-content: space-evenly;
    &__onAdd{
        @include flex-center;
        margin-bottom: 1em;
        padding: .5em;
        @include btn-nonePrincipal;
    }
}
.itemCount{
    @include flex-row-wrap-center;
    flex-wrap: nowrap;
    margin-bottom: 1em;
    max-width: 200px;
    min-width: 200px;
    button{
        height: 30px;
        width: 30px;
        @include btn-nonePrincipal;
    }
    p{
        margin-bottom: 0;
    }
}